<section id="content-wrapper">   
    <div id="mainBody">
        <div id="smallBody" class="container">
            <div class="row">
                <div>
                    <div class="card mb-0" id="topPic">
                        <img class="img-fluid" src="../../assets/banners/YonexYouth2023.png" id="banner" alt="YONEX_Czech_Youth_International_2022_banner">
                    </div>
                </div>
                <div>
                    <div class="card mb-0" id="topPic">
                        <img class="img-fluid" src="../../assets/banners/Yonex2022Photo.jpeg" id="banner" alt="YONEX_Czech_Youth_International_2022">
                    </div>
                </div>
                
                <hr>

                <h2>
                    Key dates:
                </h2>

                <div class="Dates">
                    <li>
                        <strong>
                            Entry deadline:
                        </strong>
                        <small class="text-muted">
                            21.5.2023
                        </small> 
                    </li>

                    <li>
                        <strong>
                            Date of the draw:
                        </strong>
                        <small class="text-muted">
                            27.5.2023
                        </small> 
                    </li>

                    <li>
                        <strong>
                            Team managers meeting:
                        </strong>
                        <small class="text-muted">
                            1.6.2023 9:00h
                        </small> 
                    </li>
                </div>
                
                <hr>

                <div class="propositions">
                    <a href="https://drive.google.com/file/d/1EK-QPkfOkZx1nDnV_476hZSMe3fFRNYb/view?usp=sharing">
                        <button class="btn btn-secondary">Invitation</button>
                    </a>
                </div>

                <hr>

                <app-sponsors></app-sponsors>
            </div>
        </div>
    </div>
</section>