<section id="content-wrapper">   
    <div id="mainBody">
        <div id="smallBody" class="container">
            <div class="row">
                <div>
                    <div class="card mb-0" id="topPic">
                        <img class="img-fluid" src="../../assets/banners/Youth2023.png" id="banner" alt="YONEX_Czech_Youth_International_2022_banner">
                    </div>
                </div>
                <div>
                    <div class="card mb-0" id="topPic">
                        <img class="img-fluid" src="../../assets/banners/Yonex2022Photo.jpeg" id="banner" alt="YONEX_Czech_Youth_International_2022">
                    </div>
                </div>
                
                <hr>

                <h2 class="text-white">
                    Key dates:
                </h2>

                <div class="Dates">
                    <li>
                        <strong class="text-white">
                            Entry deadline:
                        </strong>
                        <small class="text-info">
                            21.5.2023
                        </small> 
                    </li>

                    <li>
                        <strong class="text-white">
                            Date of the draw:
                        </strong>
                        <small class="text-info">
                            27.5.2023
                        </small> 
                    </li>

                    <li>
                        <strong class="text-white">
                            Team managers meeting:
                        </strong>
                        <small class="text-info">
                            1.6.2023 9:00h
                        </small> 
                    </li>
                </div>
                
                <hr>

                <h2 class="text-white">
                    Propositions:
                </h2>

                <div class="linkButtons">
                    <div class="linkButton">
                        <a href="../../assets/files/PropositionYouth2023CZ.pdf" download="PropositionYouth2023CZ.pdf">
                            <button class="btn btn-primary">CZ</button>
                        </a>
                    </div>

                    <div class="linkButton">
                        <a href="../../assets/files/PropositionYouth2023EN.pdf" download="PropositionYouth2023EN.pdf">
                            <button class="btn btn-secondary">EN</button>
                        </a>
                    </div>
                </div>

                <hr>
                    
                <div class="linkButtons">
                    <div class="linkButton">
                        <a href="https://drive.google.com/file/d/1EK-QPkfOkZx1nDnV_476hZSMe3fFRNYb/view?usp=sharing">
                            <button class="btn btn-secondary">Invitation</button>
                        </a>
                    </div>
                </div>

                <hr>

                <app-sponsors></app-sponsors>
            </div>
        </div>
    </div>
</section>