#content-wrapper {
    overflow-x: NONE;
}

.card {
    background-color: rgba(99, 102, 106, 0.6);
}

#banner {
    width: inherit;
}

#sponsorBlock {
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    width: 50vw;
    align-items: center;
    align-content: center;
}

#sponsorCol{
    display:flex;
    justify-content: center;
    align-items: center;
}

.sponsorPictureBase {
    display:block;
    height: 4rem;
    width:auto;
    margin-top: 8px;
}

#mainBody {
    margin-top: 3rem;
    background-image: url("../../assets/banners/Uvodkapozadi.png");
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: cover;
}

#smallBody {
    width: 65%;
    background: rgba(99, 102, 106, 0.5);
    margin-top: 0;
    padding-bottom: 1rem;
}

#tournaments {
    margin-top: 1rem;
}