<section id="content-wrapper">   
    <div id="mainBody">  
        <div id="smallBody" class="container">
            <div class="row">                
                <div id="tournaments">                    
                    <h1 class="text-white">
                        Tournaments
                    </h1>
                    
                    <hr>

                    <h2 class="text-danger">
                        2023:
                    </h2>

                    <div class="container text-center">
                        <div class="row">
                          <div class="col-md-8">
                            <a routerLink="/czech-open2023">
                                <img class="d-block w-100" src="../../assets/banners/CzechOpen2023.png" alt="CzechOpen2023">
                            </a>
                            <br>
                          </div>
                          <div class="col-md-4">
                                <div class="row">
                                    <a routerLink="/yonex-seniors-cup2023">
                                        <img class="d-block w-100" src="../../assets/banners/Seniors2023.png" alt="Seniors2023">
                                    </a>
                                </div>
                                
                                <br>

                                <div class="row">
                                    <a routerLink="/yonex-youth2023">
                                        <img class="d-block w-100" src="../../assets/banners/Youth2023.png" alt="Youth2023">
                                    </a>
                                </div>

                          </div>
                        </div>
                      </div>

                    <hr>

                    <h1 class="text-white">
                        Sponsors &amp; Patrons
                    </h1>
    
                    <app-sponsors></app-sponsors>

                    <hr>

                    <h2 class="text-danger">
                        2022:
                    </h2>

                    <div class="twenty-two">
                        <div class="col-md-8">
                            <div class="row">
                                <a routerLink="/czech-open2022">
                                    <img class="d-block w-100" src="../../assets/banners/CzechOpen2022.png" alt="CzechOpen2022">
                                </a>
                            </div>

                            <br>

                            <div class="row">
                                <a routerLink="/yonex2022">
                                    <img class="d-block w-100" src="../../assets/banners/Yonex2022.png" alt="Yonex2022">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</section>