<section id="content-wrapper">   
    <div id="mainBody">  
        <div id="smallBody" class="container">
            <div class="row">                
                <div id="tournaments">                    
                    <h1 class="text-white">
                        Tournaments
                    </h1>
                    
                    <hr>

                    <h2 class="text-danger">
                        2023:
                    </h2>

                    <div class="container text-center">
                        <div class="row">
                          <div class="col-md-8">
                            <a routerLink="/czech-open2023">
                                <img class="d-block w-100" src="../../assets/banners/CzechOpen2023.png" alt="CzechOpen2023">
                            </a>
                          </div>
                          <div class="col-md-4">
                                <div class="row">
                                    <a routerLink="/yonex-seniors-cup2023">
                                        <img class="d-block w-100" src="../../assets/banners/Seniors2023.png" alt="Seniors2023">
                                    </a>
                                </div>
                                
                                <br>

                                <div class="row">
                                    <a routerLink="/yonex-youth2023">
                                        <img class="d-block w-100" src="../../assets/banners/Youth2023.png" alt="Youth2023">
                                    </a>
                                </div>

                          </div>
                        </div>
                      </div>

                    <hr>

                    <h1 class="text-white">
                        Sponsors &amp; Patrons
                    </h1>
    
                    <app-sponsors></app-sponsors>

                    <hr>

                    <h2 class="text-danger">
                        2022:
                    </h2>
                    <div id="twentyTwoCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#twentyTwoCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#twentyTwoCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <a routerLink="/czech-open2022">
                                    <div class="card mb-0">
                                        <img class="d-block w-100" src="../../assets/banners/CzechOpen2022.png" alt="First slide">
                                    </div>
                                </a>
                            </div>
                            <div class="carousel-item active">
                                <a routerLink="/yonex2022">
                                    <div class="card mb-0">
                                        <img class="d-block w-100" src="../../assets/banners/Yonex2022.png" alt="Second slide">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#twentyTwoCarousel" data-bs-slide="prev">
                            <button class="btn btn-circle btn-danger">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </button>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#twentyTwoCarousel" data-bs-slide="next">
                            <button class="btn btn-circle btn-danger">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>
                        </button>
                    </div>
                </div>
                
            </div>   
        </div>
    </div>
</section>