
#footer {
    background-color: darkgrey;
    height: 11rem;
    text-align: center;
}

.btn-dark {
    margin-top: 1rem;
    text-align: center;
    height: 3rem;
}

.Contact {
    background-color: rgb(99, 102, 106);
}