<section id="content-wrapper">   
    <div id="mainBody">
        <div id="smallBody" class="container">
            <div class="row">
                <div>
                    <div class="card mb-0" id="topPic">
                        <img class="img-fluid" src="../../assets/banners/CzechOpen2023.png" id="banner" alt="CzechOpen2023">
                    </div>
                </div>
                
                <hr>

                <div class="linkButtons">
                    <div class="linkButton">
                        <a href="../../assets/files/InvitationCzechOpen2023.pdf" download="InvitationCzechOpen2023.pdf">
                            <button class="btn btn-secondary">Invitation</button>
                        </a>
                    </div>
                </div>

                <hr>

                <app-sponsors></app-sponsors>
            </div>
        </div>
    </div>
</section>