<section id="content-wrapper">   
    <div id="mainBody">
        <div id="smallBody" class="container">
            <div class="row">
                <div>
                    <div class="card mb-0" id="topPic">
                        <img class="img-fluid" src="../../assets/banners/CzechOpen2022.png" id="banner" alt="CzechOpen2022">
                    </div>
                </div>
                
                <hr>

                <h2 class="text-white">
                    Key dates:
                </h2>

                <div class="Dates">
                    <li>
                        <strong class="text-white">
                            Entry deadline:
                        </strong>
                        <small class="text-info">
                            20.9.2022
                        </small> 
                    </li>

                    <li>
                        <strong class="text-white">
                            Date of the draw:
                        </strong>
                        <small class="text-info">
                            4.10.2022
                        </small> 
                    </li>

                    <li>
                        <strong class="text-white">
                            Team managers meeting:
                        </strong>
                        <small class="text-info">
                            19.10.2022 20:30h
                        </small> 
                    </li>
                </div>
                
                <hr>

                <div class="linkButtons">
                    <a href="../../assets/files/CzechOpen2022invitation.pdf" download="CzechOpen2022.pdf">
                        <button class="btn btn-primary">Propositions</button>
                    </a>

                    <a href="../../assets/files/CzechOpen2022Accomodation.xlsx" download="CzechOpen2022Accomodation.xlsx">
                        <button class="btn btn-secondary">Accomodation</button>
                    </a>
                </div>

                <hr>

                <app-sponsors></app-sponsors>
            </div>
        </div>
    </div>
</section>