#content-wrapper {
    overflow-x: NONE;
}

#mainBody {
    margin-top: 3rem;
    background-image: url("../../assets/banners/Uvodkapozadi.png");
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: cover;
}

#smallBody {
    width: 65%;
    background: rgba(99, 102, 106, 0.5);
    margin-top: 0;
    padding-bottom: 1rem;
}

#topPic {
    width: inherit;
    
    background-color: rgba(99, 102, 106, 0.6);
}

#banner {
    width: inherit;
}

.linkButtons {
    margin-bottom: 1rem;    
    width: 100vw;
    text-align: center;
}