<section id="content-wrapper">   
    <div id="mainBody">
        <div id="smallBody" class="container">
            <div class="row">
                <div>
                    <div class="card mb-0" id="topPic">
                        <img class="img-fluid" src="../../assets/banners/CzechOpen2022.png" id="banner" alt="CzechOpen2022">
                    </div>
                </div>
                
                <hr>

                <h2>
                    Key dates:
                </h2>

                <div class="Dates">
                    <li>
                        <strong>
                            Entry deadline:
                        </strong>
                        <small class="text-muted">
                            20.9.2022
                        </small> 
                    </li>

                    <li>
                        <strong>
                            Date of the draw:
                        </strong>
                        <small class="text-muted">
                            4.10.2022
                        </small> 
                    </li>

                    <li>
                        <strong>
                            Team managers meeting:
                        </strong>
                        <small class="text-muted">
                            19.10.2022 20:30h
                        </small> 
                    </li>
                </div>
                
                <hr>

                <div class="propositions">
                    <a href="https://drive.google.com/file/d/1rFWbyCchptDrwkHHzCwEh9aa0HVZ2WJu/view?usp=sharing">
                        <button class="btn btn-secondary">Proposition</button>
                    </a>
                </div>

                <hr>

                <app-sponsors></app-sponsors>
            </div>
        </div>
    </div>
</section>