<section id="content-wrapper">   
    <div id="mainBody">
        <div id="smallBody" class="container">
            <div class="row">
                <div>
                    <div class="card mb-0" id="topPic">
                        <img class="img-fluid" src="../../assets/banners/CzechOpen2022.png" id="banner" alt="CzechOpen2022">
                    </div>
                </div>
                
                <hr>

                <div class="linkButtons">
                    <div class="linkButton">
                        <a href="https://1drv.ms/f/s!AjDYGRaA4FcWiI0xBZtTQ0E0fEamHw">
                            <button class="btn btn-primary">Gallery</button>
                        </a>
                    </div>

                    <div class="linkButton">
                        <a href="https://bwf.tournamentsoftware.com/tournament/877747BB-6FF4-467F-8AFE-202829A62AC6/matches">
                            <button class="btn btn-secondary">Results</button>
                        </a>
                    </div>
                </div>

                <hr>

                <app-sponsors></app-sponsors>
            </div>
        </div>
    </div>
</section>