<section id="content-wrapper">   
    <div id="mainBody">
        <div id="smallBody" class="container">
            <div class="row">
                <div>
                    <div class="card mb-0" id="topPic">
                        <img class="img-fluid" src="../../assets/banners/YonexSeniorsCup2023.png" id="banner" alt="YonexSeniorsCup2023">
                    </div>
                </div>
                
                <hr>

                <h2 class="text-white">
                    Key dates:
                </h2>

                <div class="Dates">
                    <li>
                        <strong class="text-white">
                            Entry deadline:
                        </strong>
                        <small class="text-info">
                            25.6.2023
                        </small> 
                    </li>

                    <li>
                        <strong class="text-white">
                            Date of the draw:
                        </strong>
                        <small class="text-info">
                            8.7.2023
                        </small> 
                    </li>

                    <li>
                        <strong class="text-white">
                            Team managers meeting:
                        </strong>
                        <small class="text-info">
                            14.7.2023 9:00h
                        </small> 
                    </li>
                </div>
                
                <hr>

                <div class="propositions">
                    <a href="https://drive.google.com/file/d/1Z5dhPUSdete5X6wqYTFRpTCQDV9WQlxP/view?usp=sharing">
                        <button class="btn btn-secondary">Invitation</button>
                    </a>
                </div>

                <hr>

                <app-sponsors></app-sponsors>
            </div>
        </div>
    </div>
</section>