#content-wrapper {
    overflow-x: NONE;
}

#mainBody {
    margin-top: 3rem;
    background-image: url("../../assets/banners/Uvodkapozadi.png");
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: cover;
}

#smallBody {
    width: 65%;
    background: rgba(99, 102, 106, 0.5);
    margin-top: 0;
    padding-bottom: 1rem;
}

#banner {
    width: inherit;
    height: auto;
    
    background-color: rgba(99, 102, 106, 0.6);
}

.card {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(99, 102, 106, 0.6);
}

.img-fluid {
    height: auto;
    width: 100vw;
}

#video {
    width: 100vw;
    height: 30vh;
    align-items: center;
    justify-content: center;
    background-color: palegoldenrod;
}



.linkButtons {
    margin-bottom: 1rem;    
    width: 100vw;
    text-align: center;
}
