<section id="content-wrapper">   
    <div id="mainBody">
        <div id="smallBody" class="container">
            <div class="row">
                <div class="topPics">
                    <div class="card mb-0" id="topPic">
                        <img class="img-fluid" src="../../assets/banners/Yonex2022.png" id="banner" alt="CzechOpen2022">
                    </div>
                    
                    <hr>
                    
                    <div class="card mb-0" id="topPhoto">
                        <img class="img-fluid" src="../../assets/banners/Yonex2022Photo.jpeg" id="banner" alt="CzechOpen2022">
                    </div>
                </div>

                <hr>

                <div class="linkButtons">
                    <a href="https://www.tournamentsoftware.com/tournament/3177CCC3-F03E-4A1D-BD25-2795C8B520CA">
                        <button class="btn btn-primary">
                            Results
                        </button>
                    </a>

                    <a href="https://praguetournaments.rajce.idnes.cz/YONEX_Czech_Youth_International_2022/">
                        <button class="btn btn-secondary">
                            Gallery
                        </button>
                    </a>
                </div>

                <hr>
                
                <app-sponsors></app-sponsors>

            </div>
        </div>
    </div>
</section>