<div class="container" id="sponsorBlock">

    <div class="row justify-content-center align-items-center" id="sponsorRow">

        <div class="col " id="sponsorCol">
            <a href="https://yonex.cz/">
                <img src="../../assets/sponsors/Yonex.png" class="sponsorPictureBase" alt="Yonex">  
            </a>
        </div>
        <div class="col " id="sponsorCol">
            <a href="https://www.360s.cz/">
                <img src="../../assets/sponsors/360s.png" class="sponsorPictureBase" alt="360s">
            </a>
        </div>
    </div>
    <div class="row justify-content-center align-items-center" id="sponsorRow">
        <div class="col" id="sponsorCol">
            <a href="https://www.sterboholy.cz/">
                <img src="../../assets/sponsors/sterboholy.png" class="sponsorPictureBase" alt="sterboholy">
            </a>
        </div>
        <div class="col " id="sponsorCol">
            <a href="https://agenturasport.cz/">
                <img src="../../assets/sponsors/nsa.png" class="sponsorPictureBase" alt="nsa">  
            </a>
        </div>
    </div>
    <div class="row justify-content-center align-items-center" id="sponsorRow">
        <div class="col " id="sponsorCol">
            <a href="https://czechbadminton.cz/">
                <img src="../../assets/sponsors/czechBadminton.png" class="sponsorPictureBase" alt="czechBadminton">
            </a>
        </div>
        <div class="col " id="sponsorCol">
            <a href="http://www.badmintoneurope.com/Cms/">
                <img src="../../assets/sponsors/badmintonEurope.jpg" class="sponsorPictureBase" alt="badmintonEurope">                        
            </a>
        </div>
    </div>
</div>